@model Product
<h1>Delete Product</h1>
<form class="form" asp-action="Delete" method="post">
    <input hidden asp-for="ImageUrl" />
    <input hidden asp-for="ProductId" />
    <input hidden asp-for="ProductName" />
    <input hidden asp-for="Quantity" />
    <ul class="list-group">
        <li class="list-group-item">@Model.ProductId</li>
        <li class="list-group-item">@Model.ProductName</li>
        <li class="list-group-item">@Model.Quantity</li>
    </ul>
    <button class="btn btn-primary mt-3" type="submit">Delete</button>
    <a asp-action="Index" class="btn btn-primary mt-3 mx-3">Go to Home</a>

</form>

